<%- include ../../layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="add_testPriorityLevel();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <!--th width="50px">No</th-->
                    <th class="idcol">id</th>
                    <th>name</th>
                    <th>create_datetime</th>
                    <th>end_datetime</th>
                    <th width="120px">Action</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <!--td><%=(i+1)%></td-->
                    <td class="idcol"><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].create_datetime%></td>
                    <td><%=data[i].end_datetime%></td>
                    <td>
                        <a class="a-inside edit" href="../testPriorityLevel/edit/<%=data[i].id%>">Edit</a>

                        <a class="a-inside delete" href="../testPriorityLevel/delete/<%=data[i].id%>">Delete</a>

                    </td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>

<%- include ../../layouts/footer.ejs %>
