<%- include ../../layouts/header.ejs %>

    <div class="page-data">
      <div class="data-entry-panel">
        <form method="post" action="/crud/<%=table_name%>/save/<%=delta.id_mode%>">
            <table cellpadding="5">

              <% if (delta.edit_mode==="update") { %>
                <input type="hidden" name="id" value="<%=delta.id%>">
              <% } %>

              <%
                for(var i=0, l=fields.length;i < l;i++) {
                  if (fields[i].is_nullable==='NO') {
                    var required = "required";
                  } else {
                    var required = "";
                  }

                  var input_classes = "create-input";
                  var fk_dropdown_classes = "foreignkey-dropdown";
                  var addl_classes = "";

                  if (fields[i].data_type === "date") {
                    input_classes += " datepicker";
                  }

                  var value = "";
                  var disabled = "";
                  if (delta.edit_mode === "update"){
                    var value = values[fields[i].column_name];
                    addl_classes += " update-mode";
                    if (fields[i].update_param_index === null){
                      var disabled = "disabled";
                      addl_classes += " disabled";
                    }
                  } else if (delta.edit_mode === "create"){
                    addl_classes += " create-mode";
                  }

                  input_classes += addl_classes;
                  fk_dropdown_classes += addl_classes;
              %>

                  <tr>
                    <td class="label <%=required%>">
                      <% if (fields[i].natural_key) { %>
                        <span class="ui-icon ui-icon-star" title="natural key"></span>
                      <% } %>
                      <%=fields[i].props.label%>:
                    </td>
                    <td>
                      <% if (fields[i].props.dependency){ %>
                        <select
                          name="<%=fields[i].column_name%>"
                          class="<%=fk_dropdown_classes%>"
                          data-fk-table-name="<%=fields[i].props.dependent_table%>"
                          data-fk-id-value="<%=value%>"
                          <%=disabled%>
                        >
                          <option></option>
                        </select>
                      <% } else { %>
                        <input
                          class="<%=input_classes%>"
                          type="text"
                          name="<%=fields[i].column_name%>"
                          value="<%=value%>"
                          <%=required%>
                          <%=disabled%>
                        >
                      <% } %>
                    </td>
                    <td style="align:left;">
                      <% if (fields[i].props.dependency){ %>
                        <a
                          href="/crud/<%=fields[i].props.dependent_table%>"
                          title="reference table: <%=fields[i].props.dependent_table%>"
                          target="_blank"
                        ><span class="ui-icon ui-icon-extlink"></span></a>
                      <% } %>
                    </td>
                  </tr>
              <% } %>

             <!--tr>
                <td class="label" valign="top">name</td>
                <td valign="top">: <textarea name="name" required cols="30" rows="5"></textarea></td>
             </tr-->

             <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="submit" name="submit" value="Save">
                   <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancel_add_entity('<%=table_name%>')">
                </td>
             </tr>
            </table>
        </form>
      </div>
      <div class="reference-data-panel">


      </div>
    </div>


<%- include ../../layouts/footer.ejs %>
